body{
    background-color: black;
    color: white;
}
h1{
    color: red;
    font-family: "Yuyu", sans-serif;
    font-weight: 1200;
    font-style: normal;
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
    box-shadow: 1px 4px 8px 4px rgb(179, 185, 183);
    padding: 7px;
    max-width: 200px;
    margin: 20px auto;
}
.para1 , .para2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 15px;
    padding: 1px 20px 1px 20px;
}
.para1{
    color: green;
    margin-bottom: 10px;
}
.para2{
    color: blue;
    margin-bottom: 10px;
}
.saber{
    text-align: end;
    font-size: 15px;
    font-weight: normal;
}
.rgb{
    width:auto;
    height: auto;
    max-width: 300px;
    display: flex;
    margin: auto;
    border-radius: 50px;
}
.rodape{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(220, 217, 20);
    border-radius: 200px;
}